/*==========  Fonts  ==========*/

@font-face {
  font-family: 'geomanistbold';
  src: url('../fonts/geomanist/geomanist_bold-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist_regularregular';
  src: url('../fonts/geomanist/geomanist_regular-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist_regular-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/*==========  Mobile First Method  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .center-tab {
    position: absolute;
    left: 25%;
    margin-left: -50px;
  }

  .max {
    font-size: 14px;
  }

  
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .center-tab {
    position: absolute;
    left: 25%;
    margin-left: -50px;
  }

  .max {
    font-size: 14px;
  }

  

}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'geomanist_regularregular', 'Open Sans', sans-serif;
}

/*==========  Colors  ==========*/

.color-yellow {color: #f9be00;}
.color-blue {color: #1896D3;}
.color-gray {color:#4F5858;}
.color-white {color:#ffffff;}

/*==========  Center elements & texts  ==========*/

.text-center {
  text-align: center;
}

/*==========  Buttons  ==========*/

.btn-login {
  background-color: #f9be00;
  color: white;
  
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open>.dropdown-toggle.btn-login {
  background-color: #e9b407;
  color: white;
}

.btn-blue {
  background-color: #1896D3;
  color: white;
  
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open>.dropdown-toggle.btn-blue {
  background-color: #1896D3;
  color: white;
}

/*==========  Texts  ==========*/

text-sub {
  color: #fff;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  
}

.text-title {
  color: #4F5858;
  padding: 20px 0;
}

/*==========  Texts Sizes  ==========*/

.min {
  font-size: 18px;
}

.med {
  font-size: 14px;
}

.max {
  font-size: 16px;
}

no-bold {
  font-weight: inherit;
}
/*==========  Login Form  ==========*/

#login-row {
  display: flex;
  justify-content: center;
}

#login .container #login-row #login-column #login-box {
  max-width: 600px;
  height: 260px;
  background-color: #1896D3;
  border-radius: 5px;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.form-control {
  border-radius: 3px !important;
}

.no-shadow {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*==========  Pop Up  ==========*/

.modal-header {
  padding-bottom: 5px;
  border-bottom: 0 !important;
}

.message-text {
  font-size: 16px;
  text-align: center;
}

.parent-container {
  text-align: center;
}

.glyphicon {
  font-size: 50px;
  color: red;
}

/*==========  Search  ==========*/

.crear {
  margin: 5%;
}

.buscar {
  padding: 20px 15px;
}

.form-text {
  margin: 5px 0;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  background-color: #f5f5f5;
  color: #4F5858;
  padding: 10px;
}

.tab-not {
  border: 1px solid #1896D3;
  text-align: center;
  color: #4F5858;
  padding: 20px 0;
  margin: 40px 0;
}

.alert {
  position: absolute;
}

.btn-add {
  background-color: #1896d3;
  color: white;
}

/*==========  Notifications  ==========*/

@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.table {
  text-align: center;
  width: 50%;
  margin: auto;
}

.btn-left {
  text-align: right;
  padding: 5px 0;
}

.checkbox {
  padding-left: 20px; 
}

.checkbox label {
  display: grid;
  position: relative;
  padding-left: 5px; 
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; 
}

.checkbox-primary input[type="checkbox1"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox1"]:checked + label::after {
  color: #fff; 
}

.glyphicon-edit  {
font-size: 15px;
color: #0076A9;

}

.glyphicon-trash {
font-size: 15px;
color: #FF4337;
}

/*==========  Carga Masiva  ==========*/

.carga {
  padding: 30px 0px;
}

.carga-bar {
  margin-left: 40%;
  margin-top: 30px;
}

/*==========  Historial de Notificaciones  ==========*/
