/*==========  Fonts  ==========*/

@font-face {
  font-family: 'geomanistbold';
  src: url('../fonts/geomanist/geomanist_bold-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist_regularregular';
  src: url('../fonts/geomanist/geomanist_regular-webfont.woff2') format('woff2'),
       url('../fonts/geomanist/geomanist_regular-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/*==========  Mobile First Method  ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'geomanist_regularregular', 'Open Sans', sans-serif;
}

/*==========  Colors  ==========*/

.color-yellow {color: #f9be00;}
.color-blue {color: #1896D3;}
.color-gray {color:#4F5858;}
.color-white {color:#ffffff;}

/*==========  Center elements & texts  ==========*/

.text-center {
  text-align: center;
}

.centered {

}

/*==========  Buttons  ==========*/

.btn-login {
  background-color: #f9be00;
  color: white;
  margin-top: 10px;
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open>.dropdown-toggle.btn-login {
  background-color: #e9b407;
  color: white;
}

/*==========  Texts  ==========*/

text-sub {
  color: #fff;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  
}

.text-title {
  color: #4F5858;
  padding: 20px 0;
}

/*==========  Texts Sizes  ==========*/

.min {
  font-size: 18px;
}

no-bold {
  font-weight: inherit;
}
/*==========  Login Form  ==========*/

#login-row {
  display: flex;
  justify-content: center;
}

#login .container #login-row #login-column #login-box {
  max-width: 600px;
  height: 260px;
  background-color: #1896D3;
  border-radius: 5px;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.form-control {
  border-radius: 3px !important;
}

.no-shadow {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


